@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

$color-bg: #fff;
$color-bg-secondary: #fff;
$color-primary:#fff ;
$color-secondary:#fff;
$color-white: #fff;

$title-size: 1rem;
// $sub-title-size: 

$font-type: "Montserrat" ;