$color-bg: #100c31;

$color-primary: #c62c7b;
$color-secondary: #100c31;
$color-white: #fff;

$title-size: 1rem;
// $sub-title-size:

$font-type: "Roboto", sans-serif;
$font-type-alter: "VT323", monospace;
$font-type-alter-para: 'DotGothic16', sans-serif;
