@use 'reset';
@use 'vars' as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');




body {
    font-family: v.$font-type;
    background-color: v.$color-bg;
    color: v.$color-white;
    font-weight: 400;
  }
  
  button {
    font-family: v.$font-type;
  }
.container {
  padding: 3rem 8rem;

}

