@use 'reset';
@use 'vars' as v;


body {
    font-family: v.$font-type;
    background-color: v.$color-bg;
    color: v.$color-white;
    font-weight: 400;
  }
  
.container {
  padding: 4rem;

}
.portfolio {
display: flex;

}

.portfolioItem {
width: 150px;
margin-right: 2rem;

    & img {
    max-width: 150px;
    }
}