@use 'reset';
@use 'vars' as v;


body {
    font-family: v.$font-type;
    background-color: v.$color-bg;
    color: v.$color-white;
    font-weight: 400;
  }
  
.container {
  padding: 3rem 8rem;

}
