@use '../../style/vars' as v; 
.svg-box {
    width: 600px;
    height: auto;
    margin:5rem auto 0 ;
}


#Montagne_Droite {
    transition:0;
    // filter: brightness(1.3) drop-shadow(-20px -7px 15px #e5b845);
}
