@use "../../style/vars" as v;
.anim-box {
    width: 650px;
    height: auto;
    margin: 6rem auto 0;

    @media screen and (max-width: 850px) {
        width: 400px;
    }
    @media screen and (max-width: 600px) {
        width: 200px;
    }
}

.letter-anim {

    &__KNCH {
        font-family: v.$font-type-alter;
        display: flex;
        flex-direction: row;
        font-size: 6rem;
        justify-content: center;
        margin-bottom: -1rem;
        @media screen and (max-width: 850px) {
            font-size: 4rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }

        &__letter {
            transition: 0.5s;

            &:hover {
                transform: matrix();
            }
        }
    }

    &__para {
        font-family: v.$font-type-alter-para;
        text-align: center;
        color: v.$color-primary;
        padding-top: 0.5rem;
        margin-bottom: 1rem;
    }
}
